/* أنماط CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    
    color: #EE161F;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* منع التمرير في الصفحة الرئيسية */
}

.container {
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    max-height: 90vh; /* تحديد ارتفاع أقصى للحاوية */
    overflow-y: auto; /* تمكين التمرير داخل الحاوية */
}

.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.search-wrapper input[type="text"] {
    width: calc(100% - 60px); /* ترك مساحة للزر */
    padding: 15px;
    border: none; 
    border-radius: 30px 0 0 30px;    /* تدوير الجوانب اليمنى فقط */
    font-size: 1rem;
    background: #f8f9fa;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px #ee161d5b;
}

.search-wrapper button {
    width: 60px;
    height: 48px; /* نفس ارتفاع حقل البحث */
    background: transparent; /* إزالة الخلفية */
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #76074C; /* لون الرمز */
    transition: transform 0.3s ease, color 0.3s ease;
}

.search-wrapper button:hover {
    transform: scale(1.2); /* زيادة حجم الزر عند التحويم */
    color: #76074C; /* تغيير لون الرمز عند التحويم */
}

#resultsList {
    list-style-type: none;
    padding: 0;
    max-height: auto; /* تحديد ارتفاع أقصى للقائمة */
    overflow-y: auto; /* تمكين التمرير داخل القائمة */
}

#resultsList li {
    padding: 15px;
    border-bottom: 1px solid #e2e8f0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.name {
    font-weight: bold;
    color: #000000;
}

.email {
    color: #76074C;
    font-size: 0.9rem;
    margin-right: 10px; /* مسافة بين البريد الإلكتروني والزر */
}

.copy-button {
    background: transparent; /* إزالة الخلفية */
    border: none;
    color: #76074C; /* لون الرمز */
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.copy-button:hover {
    transform: scale(1.2); /* زيادة حجم الزر عند التحويم */
    color: #76074C; /* تغيير لون الرمز عند التحويم */
}

.copy-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #EE161F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.copy-message.active {
    opacity: 1;
    visibility: visible;
}
