/* -------------------------------------
1. RESET
------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/* -------------------------------------
2. UTILITIES
------------------------------------- */
.hidden {
    display: none;
}

/* -------------------------------------
3. BASE
------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #1E191A;
    line-height: 1.6;
    margin: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    max-width: 800px;
    width: 90%;
    background: none;
    color: #1E191A;
    border-radius: 12px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;

}

/* -------------------------------------
4. TYPOGRAPHY
------------------------------------- */
h1 {
    font-size: 2rem;
    color: #007B3A;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin: 10px 0;
    color: #241e1e;
}

/* -------------------------------------
5. FORM ELEMENTS
------------------------------------- */
label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
    color: #1E191A;
    position: relative;
}

label i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #007B3A;
}

input,
select {
    width: 100%;
    padding: 12px 35px;
    margin-top: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    background: #FFFFFF;
    color: #1E191A;
}

input:focus,
select:focus {
    border-color: #007B3A;
    outline: none;
}

/* -------------------------------------
6. BUTTONS
------------------------------------- */
button,
.btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    background: #007B3A;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover,
.btn:hover {
    background: #CF0921;
    transform: scale(1.05);
}

/* -------------------------------------
7. GPA RESULT
------------------------------------- */
.result {
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 8px;
    text-align: right;
    animation: fadeIn 0.5s ease-in-out;
}

.gpa-value {
    font-size: 24px;
    font-weight: 600;
    color: #EE161F;
}

.category {
    font-size: 18px;
    color: #EE161F;
}

/* -------------------------------------
8. TABLE
------------------------------------- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background: #007B3A;
    color: #FFFFFF;
}

table tr:nth-child(even) {
    background: #F9F9F9;
}

table tr:hover {
    background: #EAEAEA;
}


/* -------------------------------------
9. KEYFRAMES
------------------------------------- */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* -------------------------------------
10. NASHAMA LOGO
------------------------------------- */
.nashama img {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 165px;
    height: auto;
}

/* -------------------------------------
11. HEADER
------------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

/* -------------------------------------
12. BOTTOM BAR
------------------------------------- */
.bottom-bar {

    backdrop-filter: blur(10px);
    bottom: 0;
    left: 0;
}

.bottom-bar__content {
    min-height: 60px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

/* -------------------------------------
13. LOGO
------------------------------------- */
.logo {
    display: flex;
    column-gap: 10px;
    align-items: center;
    vertical-align: middle;
}

.logo__img {
    height: 50px;
}

/* -------------------------------------
14. NAVIGATION
------------------------------------- */
.nav {
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 40px;
}

.nav__link {
    text-decoration: none;
    transition: all 0.2s;
}

.nav--open {
    left: 50% !important;
}

/* -------------------------------------
15. HAMBURGER MENU
------------------------------------- */
.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    height: 2px;
    width: 27px;


    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* -------------------------------------
16. MEDIA QUERIES (max-width: 650px)
------------------------------------- */
@media (max-width: 650px) {
    .nav {
        position: fixed;
        top: 75px;
        left: -100%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 400px;
        padding: 15px 20px;
        text-align: center;
        background: rgba(179, 179, 179, 0.8);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        border-radius: 15px;
        border: 1px solid rgba(245, 12, 12, 0.99);
        box-shadow: 0 8px 16px rgba(255, 0, 0, 0.404);
        transition: left 0.4s ease-in-out, opacity 0.3s ease-in-out;

    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 10px 0;
    }

    .nav__link {
        font-size: 15px;
        font-weight: bold;
        color: #007B3A;
        text-transform: uppercase;
        transition: color 0.2s ease-in-out;
    }

    .nav__link:hover {
        color: #007B3A;
    }

    .btn {
        font-size: 12px;
        padding: 8px 20px;
        border-radius: 8px;
        background: #007B3A;
        border: 1px solid #D02024;
        transition: all 0.2s ease-in-out;
    }

    .btn:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    .hamburger {
        display: block;
    }

    .hamburger input {
        display: none;
    }

    .hamburger svg {
        height: 3em;
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
        fill: none;
        stroke: rgb(197, 15, 15);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line-top-bottom {
        stroke-dasharray: 12 63;
    }

    .hamburger input:checked+svg {
        transform: rotate(-45deg);
    }

    .hamburger input:checked+svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
    }
}

/* -------------------------------------
17. FOOTER
------------------------------------- */

/* CSS */
.footer {
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer__content p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
    color: #333;
}

.footer__content a {
    color: #007B3A;
    text-decoration: none;
    font-weight: bold;
}



.star-trail {
    position: fixed;
    width: 20px;
    height: 20px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 0.9;
    filter: drop-shadow(0 0 3px rgba(208, 32, 36, 0.6));
}


@keyframes sparkleFade {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.9;
    }

    100% {
        transform: translate(-50%, -50%) scale(0.4) rotate(20deg);
        opacity: 0;
    }
}




